body {
  background-color: rgba(27, 31, 34, 0.85);
}
h1 {
  font-size: 2.1rem;
  line-height: 1.4;
  margin-top: 50px;
  color: wheat;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.maindiv {
  width: 70%;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./images/337951.jpg);
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px rgb(255, 255, 255);
  animation: slider 15s infinite linear;
}

@keyframes slider {
  0% {
    background-image: url(./images/337951.jpg);
  }
  25% {
    background-image: url(./images/934111.jpg);
  }
  50% {
    background-image: url(./images/942305.jpg);
  }
  75% {
    background-image: url(./images/942309.jpg);
  }
  100% {
    background-image: url(./images/cyberpunk.jpg);
  }
}
